# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

./backend/.env
./mobile/.env
./frontend/.env
# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Java
*.class
*.jar

# Temporary files
*.tmp
*.swp

# Firebase Secrets
google-services.json
*firebase-adminsdk*.json
backend/src/config/*.json

# Environment files
.env
.env.*

# Node
node_modules/

# Build
android/build/
android/app/build/